/* Designed by Sagar Garg*/

/* Beginning of NavBar*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a,
#cssmenu #menu-button {
	margin: 0;
	padding: 0;
	border: 0;
	list-style: none;
	line-height: 1;
	display: block;
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#cssmenu:after,
#cssmenu > ul:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
#cssmenu #menu-button {
	display: none;
}
#cssmenu {
	width: 100%;
	font-family: 'Open Sans', sans-serif;
	line-height: 1;
	background: #ffffff;
	position: fixed;
	z-index: 1;
	border-bottom: 1px solid #333333;
	padding-left: 10%;
}
#menu-line {
	position: absolute;
	top: 0;
	left: 0;
	margin-left: 10%;
	height: 3px;
	background: #009ae1;
	-webkit-transition: all 0.25s ease-out;
	-moz-transition: all 0.25s ease-out;
	-ms-transition: all 0.25s ease-out;
	-o-transition: all 0.25s ease-out;
	transition: all 0.25s ease-out;
}
#cssmenu > ul > li {
	float: left;
}
#cssmenu.align-center > ul {
	font-size: 0;
	text-align: center;
}
#cssmenu.align-center > ul > li {
	display: inline-block;
	float: none;
}
#cssmenu.align-center ul ul {
	text-align: left;
}
#cssmenu.align-right > ul > li {
	float: right;
}
#cssmenu.align-right ul ul {
	text-align: right;
}
#cssmenu > ul > li > a {
	padding: 20px;
	font-size: 12px;
	text-decoration: none;
	text-transform: uppercase;
	color: #000000;
	-webkit-transition: color .2s ease;
	-moz-transition: color .2s ease;
	-ms-transition: color .2s ease;
	-o-transition: color .2s ease;
	transition: color .2s ease;
}
#cssmenu > ul > li:hover > a,
#cssmenu > ul > li.active > a {
	color: #009ae1;
}
#cssmenu > ul > li.has-sub > a {
	padding-right: 25px;
}
#cssmenu > ul > li.has-sub > a::after {
	position: absolute;
	top: 21px;
	right: 10px;
	width: 4px;
	height: 4px;
	border-bottom: 1px solid #333333;
	border-right: 1px solid #000000;
	content: "";
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-transition: border-color 0.2s ease;
	-moz-transition: border-color 0.2s ease;
	-ms-transition: border-color 0.2s ease;
	-o-transition: border-color 0.2s ease;
	transition: border-color 0.2s ease;
}
#cssmenu > ul > li.has-sub:hover > a::after {
	border-color: #009ae1;
}
#cssmenu ul ul {
	position: absolute;
	left: -9999px;
}
#cssmenu li:hover > ul {
	left: auto;
}
#cssmenu.align-right li:hover > ul {
	right: 0;
}
#cssmenu ul ul ul {
	margin-left: 100%;
	top: 0;
}
#cssmenu.align-right ul ul ul {
	margin-left: 0;
	margin-right: 100%;
}
#cssmenu ul ul li {
	height: 0;
	-webkit-transition: height .2s ease;
	-moz-transition: height .2s ease;
	-ms-transition: height .2s ease;
	-o-transition: height .2s ease;
	transition: height .2s ease;
}
#cssmenu ul li:hover > ul > li {
	height: 32px;
}
#cssmenu ul ul li a {
	padding: 10px 20px;
	width: 185px;
	font-size: 12px;
	background: #333333;
	text-decoration: none;
	color: #dddddd;
	-webkit-transition: color .2s ease;
	-moz-transition: color .2s ease;
	-ms-transition: color .2s ease;
	-o-transition: color .2s ease;
	transition: color .2s ease;
}
#cssmenu ul ul li:hover > a,
#cssmenu ul ul li a:hover {
	color: #ffffff;
}
#cssmenu ul ul li.has-sub > a::after {
	position: absolute;
	top: 13px;
	right: 10px;
	width: 4px;
	height: 4px;
	border-bottom: 1px solid #dddddd;
	border-right: 1px solid #dddddd;
	content: "";
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-transition: border-color 0.2s ease;
	-moz-transition: border-color 0.2s ease;
	-ms-transition: border-color 0.2s ease;
	-o-transition: border-color 0.2s ease;
	transition: border-color 0.2s ease;
}
#cssmenu.align-right ul ul li.has-sub > a::after {
	right: auto;
	left: 10px;
	border-bottom: 0;
	border-right: 0;
	border-top: 1px solid #dddddd;
	border-left: 1px solid #dddddd;
}
#cssmenu ul ul li.has-sub:hover > a::after {
	border-color: #ffffff;
}
@media all and (max-width: 768px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min-resolution: 192dpi) and (max-width: 1024px), only screen and (min-resolution: 2dppx) and (max-width: 1024px) {
	#cssmenu {
		width: 100%;
	}
	#cssmenu ul {
		width: 100%;
		display: none;
	}
	#cssmenu.align-center > ul,
	#cssmenu.align-right ul ul {
		text-align: left;
	}
	#cssmenu ul li,
	#cssmenu ul ul li,
	#cssmenu ul li:hover > ul > li {
		width: 100%;
		height: auto;
		border-top: 1px solid rgba(120, 120, 120, 0.15);
	}
	#cssmenu ul li a,
	#cssmenu ul ul li a {
		width: 100%;
	}
	#cssmenu > ul > li,
	#cssmenu.align-center > ul > li,
	#cssmenu.align-right > ul > li {
		float: none;
		display: block;
	}
	#cssmenu ul ul li a {
		padding: 20px 20px 20px 30px;
		font-size: 12px;
		color: #000000;
		background: none;
	}
	#cssmenu ul ul li:hover > a,
	#cssmenu ul ul li a:hover {
		color: #000000;
	}
	#cssmenu ul ul ul li a {
		padding-left: 40px;
	}
	#cssmenu ul ul,
	#cssmenu ul ul ul {
		position: relative;
		left: 0;
		right: auto;
		width: 100%;
		margin: 0;
	}
	#cssmenu > ul > li.has-sub > a::after,
	#cssmenu ul ul li.has-sub > a::after {
		display: none;
	}
	#menu-line {
		display: none;
	}
	#cssmenu #menu-button {
		display: block;
		padding: 20px;
		color: #000000;
		cursor: pointer;
		font-size: 12px;
		text-transform: uppercase;
	}
	#cssmenu #menu-button::after {
		content: '';
		position: absolute;
		top: 20px;
		right: 20px;
		display: block;
		width: 15px;
		height: 2px;
		background: #000000;
	}
	#cssmenu #menu-button::before {
		content: '';
		position: absolute;
		top: 25px;
		right: 20px;
		display: block;
		width: 15px;
		height: 3px;
		border-top: 2px solid #000000;
		border-bottom: 2px solid #000000;
	}
	#cssmenu .submenu-button {
		position: absolute;
		z-index: 10;
		right: 0;
		top: 0;
		display: block;
		border-left: 1px solid rgba(120, 120, 120, 0.15);
		height: 52px;
		width: 52px;
		cursor: pointer;
	}
	#cssmenu .submenu-button::after {
		content: '';
		position: absolute;
		top: 21px;
		left: 26px;
		display: block;
		width: 1px;
		height: 11px;
		background: #000000;
		z-index: 99;
	}
	#cssmenu .submenu-button::before {
		content: '';
		position: absolute;
		left: 21px;
		top: 26px;
		display: block;
		width: 11px;
		height: 1px;
		background: #000000;
		z-index: 99;
	}
	#cssmenu .submenu-button.submenu-opened:after {
		display: none;
	}
}

.comingsoonremove {
	color: #777
}

/* End of NavBar */

body {
	background-color: #F0F0F0;
}
@font-face { font-family: Samarkan; src: url('http://www.mediafont.com/storage/contents/7025/font.eot'); /* IE */ src: local('Samarkan'), url('http://www.mediafont.com/storage/contents/7025/SAMARN__.TTF'); /* non-IE */ }
/* Beginning of Intro */
.intro {
    display: table;
    width: 100%;
    text-align: center;
    color: white;
    background: url(Images/indian_flag.JPG) no-repeat bottom center scroll;
    background-position: center;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.intro .intro-body {
    display: table-cell;
    vertical-align: middle;
}

.intro .intro-body .brand-heading {
    font-size: 40px;
    color: black;
}
.brand-heading{
	font-family: 'samarkan';
}
.bca-heading {
	font-size: 40px;
	color: black;
	margin-top: 100px;
}

.cultural-heading {
	font-size: 40px;
	color: black;
	margin-bottom: 100px;
}

@media(min-width:767px) {
    .intro {
        height: 100%;
        padding: 0;
    }

    .intro .intro-body .brand-heading {
        font-size: 100px;
        margin-top: 100px;
        margin-bottom: 100px;
    }

    .intro .intro-body .intro-text {
        font-size: 25px;
    }
}
/* End of Intro */


.missionstatement {
	margin-top: 25px;
}




.intro2 {
    display: table;
    width: 100%;
    text-align: center;
    color: white;
    background: url(https://raw.githubusercontent.com/sagargarg/sagargarg.github.io/master/indian_flag2.JPG) no-repeat bottom center scroll;
    background-position: center;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.intro2 .intro-body2 {
    display: table-cell;
    vertical-align: middle;
}

.intro2 .intro-body2 .brand-heading {
    font-size: 40px;
    color: black;
}

@media(min-width:767px) {
    .intro2 {
        height: 100%;
        padding: 0;
    }

    .intro2 .intro-body2 .brand-heading {
        font-size: 100px;
        margin-top: 150px;
        margin-bottom: 150px;
    }

    .intro2 .intro-body2 .intro-text {
        font-size: 25px;
    }
}














/* Beginning of Text Boxes*/
.int {
	position: relative;
  	top: 50%;
  	-webkit-transform: translateY(-50%);
  	-moz-transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
  	-o-transform: translateY(-50%);
  	transform: translateY(-50%);
}


/*Generic panel class*/
.panel {
	position: relative;
	width: 100%;
	max-width: 100%;
	display: inline-block;
}
/*End generic panel class*/

/*Generic card properties*/
.card {
	width: 80%;
	margin: 0 auto;
	background-color: white;
	box-shadow: 1.5px 1.5px 2px 2px #CECECE;
	padding-bottom: 2%;
	padding-left: 5%;
	padding-right: 5%;
	margin-bottom: 4%;
}

.cardTitle {
	width: 90%;
	height: 10%;
	margin: 0 auto;
	border-bottom: 1px solid #CECECE;
	font-size: 2em;
	padding-top: 1em;
}

.cardTitle h2 {
	margin-bottom: 0px;
}

.side {
	width: 35%;
	padding-left: 0%;
	padding-right: 0%;
}

.left {
	float: left;
	margin-left: 10%;
}

.right {
	float: right; 
	margin-right: 10%;
}
/*End generic cards*/

/*About specifics*/
.about {
	background-color: #ECECEC;
	text-align: center;
	padding-top: 50px;
	box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.8);
}


/* End of Text Boxes*/

.diwalidinnerdancemoreinfo {
	margin: 25px 25px 0 25px;
}

.link a { text-decoration: none; }
.link a:visited { color: #3498db; }
.link a:not(.button) { color: #3a3a3a; transition: background 1s; -webkit-transition: background 1s; padding: 0.01rem 0.2rem; border-bottom: 3px solid #3498db; }
.link a:not(.button):hover { background: #3498db; color: #FFF; }
.link a:not(.button).noBorder { border-bottom: none; }
.link { color: black; }

.designedbyme {
	text-align: center;
}



@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);



#feedback-page{
	text-align:center;
}

#form-main{
	padding-top:0px;
}

#form-div {
	background-color:rgba(72,72,72,0.4);
	padding: 35px 35px 50px 35px;
	width: 450px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-top:30px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
}

.feedback-input {
	color:#3c3c3c;
	font-family: Helvetica, Arial, sans-serif;
	font-weight:500;
	font-size: 18px;
	border-radius: 0;
	line-height: 22px;
	background-color: #fbfbfb;
	padding: 13px 13px 13px 54px;
	margin-bottom: 10px;
	width:100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	border: 3px solid rgba(0,0,0,0);
}



/* Icons ---------------------------------- */
#name{
	background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#name:focus{
	background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
	background-size: 30px 30px;
	background-position: 8px 5px;
  background-position: 11px 8px;
	background-repeat: no-repeat;
}

#email{
	background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#email:focus{
	background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
	background-size: 30px 30px;
  background-position: 11px 8px;
	background-repeat: no-repeat;
}

#comment{
	background-image: url(http://rexkirby.com/kirbyandson/images/comment.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

textarea {
    width: 100%;
    height: 150px;
    line-height: 150%;
    resize:vertical;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
	background-color:white;
}

#button-blue{
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	float:left;
	width: 100%;
	border: #fbfbfb solid 4px;
	cursor:pointer;
	background-color: #3498db;
	color:white;
	font-size:24px;
	padding-top:22px;
	padding-bottom:22px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}

#button-blue:hover{
	background-color: rgba(0,0,0,0);
	color: #0493bd;
}
	
.submit:hover {
	color: #3498db;
}
	
.ease {
	width: 0px;
	height: 74px;
	background-color: #fbfbfb;
	-webkit-transition: .3s ease;
	-moz-transition: .3s ease;
	-o-transition: .3s ease;
	-ms-transition: .3s ease;
	transition: .3s ease;
}

.submit:hover .ease{
  width:100%;
  background-color:white;
}

@media only screen and (max-width: 580px) {
	#form-div{
		left: 3%;
		margin-right: 3%;
		width: 88%;
		margin-left: 0;
		padding-left: 3%;
		padding-right: 3%;
	}
}

.invisible {
	font-size: 1px;
	color: white;
}

.contactuscenter {
	text-align: center;
}

.facebookpic {
	height: 15px;
	width: 15px;
	margin: 0px;
	margin-right: 5px;
	padding: 0px;
}

.bmpres {
	text-align: center;
}

.circularlg1 {
	width: 250px;
	height: 250px;
	border-radius: 125px;
	-webkit-border-radius: 125px;
	-moz-border-radius: 100px;
	background: url(/Board/julie.jpg) no-repeat;
	background-size: 270px 960px;
	background-position: 0px 0px;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	position: relative;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.circularlg2 {
	width: 250px;
	height: 250px;
	border-radius: 125px;
	-webkit-border-radius: 125px;
	-moz-border-radius: 100px;
	background: url(/Board/sejal.jpg) no-repeat;
	background-size: 270px 480px;
	background-position: -20px -30px;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	position: relative;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}	

.circular1 {
	width: 200px;
	height: 200px;
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	background: url(/Board/ruchi.jpg) no-repeat;
	background-size: 360px 480px;
	background-position: -55px 0px;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	position: relative;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.circular2 {
	width: 200px;
	height: 200px;
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	background: url(/Board/divya.jpg) no-repeat;
	background-size: 375px 480px;
	background-position: -135px -25px;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	position: relative;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.circular3 {
	width: 200px;
	height: 200px;
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	background: url(/Board/kavita.jpg) no-repeat;
	background-size: 1080px 780px;
	background-position: -555px -200px;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	position: relative;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.circular4 {
	width: 200px;
	height: 200px;
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	background: url(/Board/anjali.jpg) no-repeat;
	background-size: 300px 300px;
	background-position: -50px -0px;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	position: relative;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.circular5 {
	width: 200px;
	height: 200px;
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	background: url(/Board/mehak.jpg) no-repeat;
	background-size: 275px 275px;
	background-position: -40px -10px;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	position: relative;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.circular6 {
	width: 200px;
	height: 200px;
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	background: url(/Board/yashaar.jpg) no-repeat;
	background-size: 960px 720px;
	background-position: -555px -125px;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	position: relative;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.circular7 {
	width: 200px;
	height: 200px;
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	background: url(/Board/harsh.jpg) no-repeat;
	background-size: 256px 384px;
	background-position: -50px -50px;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	position: relative;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.circular8 {
	width: 200px;
	height: 200px;
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	background: url(/Board/jay.jpg) no-repeat;
	background-size: 960px 720px;
	background-position: -390px -30px;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	position: relative;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.circular9 {
	width: 200px;
	height: 200px;
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	background: url(/Board/sagar.jpg) no-repeat;
	background-size: 268px 360px;
	background-position: -30px -40px;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	position: relative;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.circular10 {
	width: 200px;
	height: 200px;
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	background: url(/Board/aneri.jpg) no-repeat;
	background-size: 702px 700px;
	background-position: -225px -25px;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	position: relative;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.circular11 {
	width: 200px;
	height: 200px;
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	background: url(/Board/saachi.jpg) no-repeat;
	background-size: 510px 768px;
	background-position: -155px -40px;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	position: relative;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.squarepicture {
	height: 151px;
	width: 227px;
	margin-bottom: 5px;
}